.footer {
    text-align: center;
    padding: 2rem 1rem;
    background: #222;
    color: white;
    margin-top: auto;
    font-family: Arial, sans-serif;
}

.footer p {
    margin-top: 1rem;
}

.footer p a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer p a:hover {
    color: #00bfff;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    padding-top: 1rem;
}

.footer-container h2 {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: cursive;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-box a {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-box a:hover {
    color: #00bfff;
}

/* Social links */
.social a {
    font-size: 20px;
    margin-right: 1rem;
    color: #fff;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #00bfff;
}
