/* Navbar fixed + blur */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  background: rgba(255, 255, 255, 0.3);  
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);  

    box-sizing: border-box;
}

body {
  padding-top: 70px;
}

.navbar-brand {
   font-weight: 700;
   font-family: "roboto", sans-serif;
   letter-spacing: 3px;
}

/* Nav links */
.navbar-nav .nav-link {
 text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: blue;
}


/* Toggler button */
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    margin: 10px 0;
  }
}
