name: Deploy MERN App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            # Go to home directory
            cd ~/  

            # Clone repo if it doesn't exist, otherwise pull latest changes
            if [ -d "MERN_Ecommerce_App" ]; then
              cd MERN_Ecommerce_App
              git reset --hard
              git pull origin main
            else
              git clone https://github.com/saubhagya02-bit/MERN_Ecommerce_App.git
              cd MERN_Ecommerce_App
            fi

            # Stop and remove old container if exists
            docker stop ecommerce || true
            docker rm ecommerce || true

            # Build new Docker image
            docker build -t ecommerce-app:latest .

            # Run container mapping EC2 port 80 to container 3000
            docker run -d --name ecommerce -p 80:3000 ecommerce-app:latest
