name: Deploy MERN App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_IMAGE }}:${{ secrets.DOCKER_TAG }} .

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_IMAGE }}:${{ secrets.DOCKER_TAG }} || true
            docker stop ecommerce || true
            docker rm ecommerce || true
            docker run -d --name ecommerce -p 80:3000 ${{ secrets.DOCKER_IMAGE }}:${{ secrets.DOCKER_TAG }}
